{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="login-container">
  <h1>Register New User</h1>

  <form class="mb-3" action="{{ url_for('user_register_page') }}" method="post">
    <div class="mb-3">
      <label for="inputUsername" class="form-label text-light">Username (Email)</label>
      <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" maxlength="50" required>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label text-light">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
    </div>
    <div class="mb-3">
      <label for="inputFullName" class="form-label text-light">Full Name</label>
      <input type="text" class="form-control" id="inputFullName" name="full_name" placeholder="Full name" maxlength="100" required>
    </div>
    <div class="mb-3">
      <label for="inputQualification" class="form-label text-light">Qualification</label>
      <input type="text" class="form-control" id="inputQualification" name="qualification" placeholder="Qualification" maxlength="100" required>
    </div>
    <div class="mb-3">
      <label for="inputDOB" class="form-label text-light">DOB</label>
      <input type="date" class="form-control" id="inputDOB" name="dob" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Register</button>
  </form>
</div>
{% endblock %}
