{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
  <h1>User Login</h1>

  <h5 class="text-center text-light">{{ message }}</h5>

  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-end">
        <a href="{{ url_for('user_login_page') }}" class="w-100">
          <button type="button" class="btn btn-primary w-100">Back</button>
        </a>
      </div>
      <div class="col d-flex align-items-center justify-content-center pb-2">
        <a href="{{ url_for('user_register_page') }}" class="w-100">
          <button type="button" class="btn btn-primary w-100">Register new User</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
