{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
  <h1>User Login</h1>

  <form class="mb-3" action="{{ url_for('user_login_page') }}" method="post">
    <div class="mb-3">
      <label for="inputUsername" class="form-label text-light">Username</label>
      <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" required autofocus>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label text-light">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>

  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-end">
        <div class="text-right text-light fs-5">New User?</div>
      </div>
      <div class="col d-flex align-items-center justify-content-center pb-2">
        <a href="{{ url_for('user_register_page') }}" class="w-100">
          <button type="button" class="btn btn-primary w-100">Register</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
